<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <h3><%= blog.title %></h3>
    <p><%= helper.humanReadableDate(blog.publishedDate) %></p>
    <p><%= blog.publishedDate %></p>
    <p><%= blog.author %></p>
    <p><%= blog.article %></p>
    <p><%= helper.timeSincePublished(blog.publishedDate) %></p>
    <p class="likeCount">Likes: <%= blog.likes %></p>
    <% if (locals.user) { %> <% if (!locals.user.liked.includes(blog.slug)) { %>
    <button class="likeBtn" onclick="('<%= () => helper.likePost() %>')">
      like
    </button>

    <% } %>
    <a class="btn" href="/<%= blog.slug%>/comment?id=<%= blog._id%>">Comment</a>
    <% } %> <% comments.forEach(comment => { %>
    <div>
      <a href="/users/<%= comment.author.username %>"
        ><%= comment.author.username %></a
      >
      <p></p>
      <p><%= helper.humanReadableDate(comment.test) %></p>
      <p><%- comment.body%></p>
    </div>
    <% }) %>
    <script type="module" src="/main.js"></script>
  </body>
</html>
