<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <head>
      <%- include('./partials/header.ejs') %>
    </head>
    <div class="container mt-3" role="main">
      <h3><%= postCounter%></h3>
      <hr />
      <div class="row">
        <div class="col-md-8 blog-main">
          <% if (blogs.length) { %> <% blogs.forEach(blog => { %>
          <article class="blogListItem">
            <div class="articleWrapper">
              <a href="../<%= blog.slug%>">
                <img src="https://via.placeholder.com/250x150" alt="" />
              </a>
              <div class="articleContent">
                <a href="../<%= blog.slug%>">
                  <h3><%= blog.title %></h3>
                  <p class="snippet"><%= blog.snippet %></p>
                </a>
                <p>
                  <a href="/user/<%= blog.author %>"><%= blog.author %></a>
                  <span class="timeSincePublished">
                    - <%= helper.timeSincePublished(blog.publishedDate) %>
                  </span>
                </p>
              </div>
            </div>
            <hr />
          </article>
          <% }) %> <% } %>

          <!-- Pagination -->
          <div class="paginationContainer">
            <% if (pages > 0) { %>
            <ul class="pagination text-center">
              <% if (current === 1) { %>
              <li><a class="disabled">First</a></li>
              <% } else { %>
              <li><a href="/blog/">First</a></li>
              <% }%> <% let i = Number(current) > 4 ? Number(current) - 3 : 1%>
              <% if (current !== 1 && current > 4) { %>
              <li class="disabled">
                <a href="<%= `/blog/${current-1}`%>"><</a>
              </li>
              <li class="disabled"><a>...</a></li>
              <% } %> <% for (;i < (Number(current) + 4) && i <= pages; i++) {
              %> <% if (i == current) { %>
              <li class="active"><a><%= i%></a></li>
              <% } else { %>
              <li>
                <a href="<%= (i === 1 ? '/blog/' : `/blog/${i}`)%>"><%= i%></a>
              </li>
              <% } %> <% } %> <% if (i == Number(current) + 4 && i <= pages) {
              %>
              <li class="disabled"><a>...</a></li>
              <li class="disabled">
                <a href="<%= `/blog/${Number(current)+1}`%>">></a>
              </li>
              <% } %><% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
              <% } else { %>
              <li><a href="/blog/<%= pages %>">Last</a></li>
              <% }%>
            </ul>
            <% } %>
          </div>
        </div>
        <%- include('./partials/sidebar.ejs')%>
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
