<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <h2>Username: <%= userprofile.username %></h2>
    <p>Registered on: <%= userprofile.createdAt %></p>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
